@model PagedList.IPagedList<CourseProject.Models.Employee>
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Список сотрудников";
}

<h2>Список сотрудников</h2>

<p>
    @Html.ActionLink("Добавить сотрудника", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Название отдела", "Index", new { sortOrder = ViewBag.DepartmentSortParam })
        </th>
        <th>
            @Html.ActionLink("Фамилия", "Index", new { sortOrder = ViewBag.LastNameSortParam })
        </th>
        <th>
            @Html.ActionLink("Имя", "Index", new { sortOrder = ViewBag.NameSortParam })
        </th>
        <th>
            @Html.ActionLink("Отчество", "Index", new { sortOrder = ViewBag.MiddleNameSortParam })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Department.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleName)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Подробно", "Details", new { id=item.ID }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort }))
